
	@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.quattrocento-sans-regular {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes slideInRight {
  from {
    transform: translateX(300%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
	}
.city-name{
	font-size:1.0rem;
	font-style: italic;
}

.city-name:hover{
  text-shadow: 0 0 30px rgba(24,229,255,1);
  cursor: pointer;
  
	
}
.bilbo-regular {
  font-family: "Bilbo", cursive;
  font-weight: 400;
  font-style: normal;
}

.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
	
}

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
			position: relative;
			
			
        }
        body {
            display: flex;
			width: 100vw;
            height: 100vh;
		
        }
        aside {
			position: relative;
            width: 25%;
			/*
            background: rgba(26,34,23,0.4);*/
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(123,133,148,1) 13%, rgba(92,104,123,1) 18%, rgba(38,53,79,1) 28%, rgba(38,53,79,1) 48%, rgba(113,123,140,1) 71%, rgba(143,151,164,1) 76%, rgba(180,186,194,1) 85%, rgba(218,221,225,1) 92%, rgba(255,255,255,1) 100%);
            color: white;
            padding: 50px;
            overflow-y: auto;
	        animation: slideInLeft ease 2s;
			
			

        }
        main {
            width: 100vw;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url("switzerlandplan2.PNG");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			border: solid 4px white;
			
		
			
        }
        ul {
            list-style: none;
			padding: 20px;
			transition: all 0.5s ease;
			
			
			
			
			
        }
        li {
            margin-bottom: 10px;
			transition: all 0.5s ease;
			
			
	
	
	
			
			
			
			
        }
		
		h1{
			font-size: 2.5rem;
			text-align: center;
			margin-top: -3vh;
			text-shadow: 0 0 10px white;
			color: black;
			
			
			
		}
		
		checkbox{
			position: relative;
			left: 0;
			
		
		}
		.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

		.days{
			color: rgba(58,185,33,1.00);
			font-weight: 600;
			text-shadow: 0 0 6px black;
			margin-right: 10px;
			
		}
		
		.days2{
			color: red;
			font-weight: 600;
			text-shadow: 0 0 4px white;
			
		}
        .submenu {
			position: relative;
            display: none;
            padding-left: 10px;
			background: rgba(39,58,85,0.8);
			margin-top: 3vh;
			transition: all 0.5s ease;
			box-shadow: 0 0 20px white;
			
			
        }
		
        .toggle {
			position: relative;
            cursor: pointer;
            font-weight: bold;
            display: block;
            padding: 5px;
background: rgb(255,255,255);
background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(104,149,182,1) 20%, rgba(104,149,182,1) 80%, rgba(255,255,255,1) 100%);
            border-radius: 5px;
			top: 3vh;
			transition: all 0.5s ease;
			box-shadow: 0 1px 5px #00ec3b;

        }
        .toggle:hover {
            background: rgba(130,19,21,1.00);
			
		
		
			
        }
       input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color: rgba(24,229,255,1);
  font-weight: bold;
  position: absolute;
  left: 3px;
  top: -2px;
}
        .marker {
            position: absolute;
            width: 70px;
            height: 70px;
            background: rgba(208,133,38,0.6);
            border-radius: 50%;
			display: none;
			box-shadow: 0 0 30px white;
          
        }
		
		.info{
			position: fixed;
			display: flex;
			background-image: url("info2.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 1;
			width: 18vw;
			height: 15vh;
			bottom: -5vh;
			right: 0;
			animation: slideInRight 2s ease-out forwards;
		
			
		}


		
	.hotspot {
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    cursor: pointer;
}
       .highlight {
       background: rgba(26,32,47,1.00);
	   border-bottom: solid 3px white;
	   box-shadow: 20px 0 0 sandybrown;
	   
}
		
		.logo2{
			display: flex;
			position: relative;
			background-image: url("q.png");
			background-size: cover;
			background-position: bottom;
			background-repeat: no-repeat;
			width: 300px;
			height: 100px;
			bottom: -37vh;
		}
		
		.logo{
			position: relative;
			background-image: url("switzlogo.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 350px;
			height: 200px;
			text-align: center;
			margin-left: -1.4vw;
			
			
		}
		
		.signature{
			display:flex;
			position: relative;
			background-image: url("signature.png");
			background-size: cover;
			background-position: bottom;
			background-repeat: no-repeat;
			width: 150px;
			height: 100px;
			bottom: -32vh;
			margin: 0 auto;
			

		}
		
.hover-image {
  position: relative;
}

.popup-image {
  position: fixed;
  right: 8vw;
  top: 20vh;
  width: 60vw; /* vagy a kívánt méret */
  height: 70vh;
  display: none;
  border-radius: 8px;
  box-shadow: 0 0 300px black;
  z-index: 2;
  background-size: cover;
  background-position: center;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
  pointer-events: none;

	
}
		

.hover-image:hover .popup-image {
  display: block;
  opacity: 1;
  transform: scale(1.2);
  pointer-events: auto;
}
		

label:hover{
	background-color: rgba(25,25,39,1.00);
   transition: all 0.5s ease;
	font-size: 1.06rem;
	

}
/* Az ul elem hover-jára a submenu láthatóvá válik */
ul li:hover .submenu {
    display: block; /* Megjelenítjük a submenu-t */
	transition: all 0.3s ease;
	
	
}
		
.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}
		
.hover-image:hover .popup-background {
  display: block;
}
		
		.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
		
		.custom-
{
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.custom-checkbox input {
  display: none; /* Eredeti checkbox elrejtése */
}

.checkmark {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  transition: all 0.3s ease;
}

/* Ha be van jelölve */
.custom-checkbox input:checked + .checkmark {
  background-color: #007bff;
  border-color: #007bff;
}

/* Pipa ikon hozzáadása */
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


.hover-image2 {
  position: relative;
  display: inline-block;
}

.popup-image2 {
  position: fixed;
  right: 8vw;
  top: 20vh;
  height: 70vh;
  display: none;
  border-radius: 8px;
  box-shadow: 0 0 300px black;
  z-index: 2;
  background-size: cover;
  background-position: center;

	
}


.pic-name{
	position: fixed;
	color:white;
	margin-top: 1.5vh;
	font-size: 1.6rem;
}

.hover-image2:hover .popup-image2 {
  display: block;
}

.gallery-toggle {
  color: white;

}

.gallery-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: 80vw; height: 100vh;
  background-color: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
}

.gallery-content {
  position: relative;
  max-width: 80%;
  text-align: center;
}

.gallery-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.caption {
  margin-top: 12px;
  color: white;
  font-size: 18px;
}

.close {
  position: absolute;
  top: 10px; right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.prev { left: -50px; }
.next { right: -50px; }


h2{
	position: relative;
	left: 57%;
	top: 90vh;

	
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111; /* vagy bármi más */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 4s ease;
}

#preloader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-text
{
	font-size: 2rem;
	font-weight: 200;
	color: rgba(20,152,0,1.00);
}

